
.config/
.cursor
.cursor/
.DS_Store
.env
.gitattributes
.history
.history/
.idea
.venv
.vscode
*.db-shm
*.db-wal
*.log
*.njsproj
*.ntvs*
*.sln
*.sqlite
*.suo
*.sw?
**/node_modules
*lock_v2*
/compose/docker-compose.coolify-proxy_env.yml
/compose/docker-compose.coolify-proxy-env.yml
/compose/docker-compose.coolify-proxy.micklethefickle.yml
/compose/docker-compose.coolify-proxy.yml
/compose/docker-compose.coolify.yml
/compose/docker-compose.networks-inline.yml
/compose/docker-compose.networks.yml
/compose/docker-compose.riven.yml
/compose/docker-compose.stremio-group.yml
/compose/docker-compose.vpn.yml
/configs/
/docker
arbitrary-scripts/bootstrap/various_pvt_logins.sh
logs.db
logs/
node_modules/
npm-debug.log*
vendor/docker/openvpn/client/auth.conf
volumes/
yarn-debug.log*
yarn-error.log*
.taskmaster/
.llm-context/
.roo/
certs/
opt/
projects/
kube.yaml
kubernetes.yaml
arbitrary-scripts/various_pvt_logins.sh
arbitrary-scripts/bootstrap/dont-run-directly.sh