# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-spec/master/schema/compose-spec.json



services:
  wordpress:
    depends_on:
      mariadb:
        condition: service_started
    image: docker.io/wordpress:latest
    container_name: wordpress
    hostname: wordpress
    extra_hosts:
      - host.docker.internal:host-gateway
    networks:
      - backend
      - publicnet
    volumes:
      - '${CONFIG_PATH:-./volumes}/wordpress/wordpress-files:/var/www/html'
    environment:
      WORDPRESS_DB_HOST: mariadb:3306
      WORDPRESS_DB_USER: ${WORDPRESS_DB_USER:?}
      WORDPRESS_DB_PASSWORD: ${WORDPRESS_DB_PASSWORD:?}
      WORDPRESS_DB_NAME: ${WORDPRESS_DB_NAME:-wordpress}
    labels:
      traefik.enable: true
      traefik.http.middlewares.gzip.compress: true
      traefik.http.routers.wordpress.middlewares: gzip
      traefik.http.routers.wordpress.rule: (Host(`wordpress.$DOMAIN`) || Host(`wordpress.$TS_HOSTNAME.$DOMAIN`)) && PathPrefix(`/`)
      traefik.http.services.wordpress.loadbalancer.server.port: 80
      kuma.wordpress.http.name: ${WORDPRESS_FQDN:-wordpress.$TS_HOSTNAME.$DOMAIN}
      kuma.wordpress.http.url: ${WORDPRESS_URL:-https://wordpress.$DOMAIN}
      kuma.wordpress.http.interval: 10
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://127.0.0.1:80 > /dev/null 2>&1 || exit 1"]
      interval: 2s
      timeout: 10s
      retries: 10
    restart: always

  mariadb:
    image: docker.io/mariadb:latest
    container_name: mariadb
    hostname: mariadb
    extra_hosts:
      - host.docker.internal:host-gateway
    networks:
      - backend
      - publicnet
    volumes:
      - '${CONFIG_PATH:-./volumes}/wordpress/mariadb-data:/var/lib/mysql'
    environment:
      MYSQL_ROOT_PASSWORD: ${WORDPRESS_DB_ROOT_PASSWORD:?}
      MYSQL_DATABASE: ${WORDPRESS_DB_NAME:-wordpress}
      MYSQL_USER: ${WORDPRESS_DB_USER:?}
      MYSQL_PASSWORD: ${WORDPRESS_DB_PASSWORD:?}
    restart: always


configs: {  }
secrets: {  }
volumes: {  }





