kind: Build
apiVersion: garden.io/v0
name: logrotate-traefik
description: Logrotate for Traefik logs build
type: container
source:
  path: ${var.src-path || "./src"}/reverse_proxy/logrotate-traefik

---
kind: Deploy
apiVersion: garden.io/v0
name: logrotate-traefik
description: Logrotate for Traefik logs with human-readable output
type: container
dependencies:
  - build.logrotate-traefik

spec:
  image: ${actions.build.logrotate-traefik.outputs.deploymentImageId}
  networkMode: none
  env:
    TZ: ${var.tz}
  volumes:
    - name: logs
      containerPath: /var/log/traefik
      sourcePath: ${var.config-path}/traefik/logs
  resources:
    limits:
      cpu: 100m
      memory: 64Mi
    requests:
      memory: 8Mi
  restartPolicy: always

