kind: Deploy
apiVersion: garden.io/v0
name: nginx-traefik-extensions
description: Nginx Authentication Middleware for Traefik
type: container

spec:
  replicas: 3
  image: docker.io/nginx:alpine
  hostname: nginx-traefik-extensions
  extraHosts:
    - host.docker.internal:host-gateway
  env:
    TZ: ${var.tz}
    NGINX_ACCESS_LOG: /dev/stdout
    NGINX_ERROR_LOG: /dev/stderr
    NGINX_LOG_LEVEL: debug
  ports:
    - name: http
      containerPort: 80
  volumes:
    - name: nginx-config
      containerPath: /etc/nginx/nginx.conf
      sourcePath: ${var.config-path}/traefik/nginx-middlewares/nginx-traefik-extensions.conf
      readOnly: true
    - name: auth-config
      containerPath: /etc/nginx/auth
      sourcePath: ${var.config-path}/traefik/nginx-middlewares/auth
      readOnly: true
  resources:
    limits:
      cpu: 1000m
      memory: 1Gi
    requests:
      memory: 6Mi
  annotations:
    traefik.http.middlewares.nginx-auth.forwardAuth.address: http://nginx-traefik-extensions:80/auth
    traefik.http.middlewares.nginx-auth.forwardAuth.trustForwardHeader: "true"
    traefik.http.middlewares.nginx-auth.forwardAuth.authResponseHeaders: '["X-Auth-Method", "X-Auth-Passed", "X-Middleware-Name"]'
  healthCheck:
    exec:
      command: [sh, -c, "wget -qO- http://127.0.0.1:80/health > /dev/null 2>&1 || exit 1"]
    initialDelaySeconds: 20
    periodSeconds: 30
    timeoutSeconds: 10
    failureThreshold: 3
    startPeriodSeconds: 20
  restartPolicy: always
