kind: Deploy
apiVersion: garden.io/v2
name: nginx-traefik-extensions
description: Nginx Authentication Middleware for Traefik
type: container

spec:
  image: docker.io/nginx:alpine
  extraHosts:
    - host.docker.internal:host-gateway
  env:
    TZ: ${var.tz}
    NGINX_ACCESS_LOG: /dev/stdout
    NGINX_ERROR_LOG: /dev/stderr
    NGINX_LOG_LEVEL: debug
  ports:
    - name: http
      containerPort: 80
  volumes:
    - name: nginx-config
      containerPath: /etc/nginx/nginx.conf
      sourcePath: ${var.config-path}/traefik/nginx-middlewares/nginx.conf
      readOnly: true
    - name: auth-config
      containerPath: /etc/nginx/auth
      sourcePath: ${var.config-path}/traefik/nginx-middlewares/auth
      readOnly: true
  resources:
    limits:
      cpu: 1000m
      memory: 1Gi
    requests:
      memory: 6Mi
  healthCheck:
    httpGet:
      path: /health
      port: http
    initialDelaySeconds: 20
    periodSeconds: 30
    timeoutSeconds: 10
    failureThreshold: 3
  restartPolicy: always
