kind: Deploy
apiVersion: garden.io/v0
name: prometheus
description: Prometheus monitoring system
type: container
dependencies:
  - run.init_prometheus
  - deploy.victoriametrics

spec:
  replicas: 3
  image: docker.io/prom/prometheus
  hostname: prometheus
  extraHosts:
    - host.docker.internal:host-gateway
  env:
    PROMETHEUS_RETENTION_TIME: ${var.PROMETHEUS_RETENTION_TIME || "15d"}
    PROMETHEUS_RETENTION_SIZE: ${var.PROMETHEUS_RETENTION_SIZE || "0"}
    PROMETHEUS_QUERY_MAX_CONCURRENCY: ${var.PROMETHEUS_QUERY_MAX_CONCURRENCY || "20"}
    PROMETHEUS_QUERY_TIMEOUT: ${var.PROMETHEUS_QUERY_TIMEOUT || "2m"}
    PROMETHEUS_QUERY_MAX_SAMPLES: ${var.PROMETHEUS_QUERY_MAX_SAMPLES || "50000000"}
    PROMETHEUS_WEB_MAX_CONNECTIONS: ${var.PROMETHEUS_WEB_MAX_CONNECTIONS || "512"}
  ports:
    - name: http
      containerPort: 9090
  volumes:
    - name: data
      containerPath: /prometheus
      sourcePath: ${var.config-path}/prometheus/data
    - name: config
      containerPath: /etc/prometheus/prometheus.yml
      sourcePath: ${var.config-path}/prometheus/prometheus.yml
    - name: rules
      containerPath: /etc/prometheus/alert.rules
      sourcePath: ${var.config-path}/prometheus/alert.rules
  command:
    - '--config.file=/etc/prometheus/prometheus.yml'
    - '--log.format=${var.PROMETHEUS_LOG_FORMAT || "logfmt"}'
    - '--log.level=${var.PROMETHEUS_LOG_LEVEL || "info"}'
    - '--query.max-concurrency=${var.PROMETHEUS_QUERY_MAX_CONCURRENCY || "20"}'
    - '--query.max-samples=${var.PROMETHEUS_QUERY_MAX_SAMPLES || "50000000"}'
    - '--query.timeout=${var.PROMETHEUS_QUERY_TIMEOUT || "2m"}'
    - '--storage.tsdb.path=/prometheus'
    - '--storage.tsdb.retention.size=${var.PROMETHEUS_RETENTION_SIZE || "0"}'
    - '--storage.tsdb.retention.time=${var.PROMETHEUS_RETENTION_TIME || "15d"}'
    - '--web.console.libraries=/usr/share/prometheus/console_libraries'
    - '--web.console.templates=/usr/share/prometheus/consoles'
    - '--web.enable-admin-api'
    - '--web.enable-lifecycle'
    - '--web.max-connections=${var.PROMETHEUS_WEB_MAX_CONNECTIONS || "512"}'
  ingresses:
    - path: /
      port: http
      hostname: prometheus.${var.domain}
    - path: /
      port: http
      hostname: prometheus.${var.ts-hostname}.${var.domain}
  annotations:
    traefik.enable: "true"
    traefik.http.routers.prometheus.middlewares: nginx-auth@file
    traefik.http.routers.prometheus.rule: Host(`prometheus.${var.domain}`) || Host(`prometheus.${var.ts-hostname}.${var.domain}`)
    traefik.http.services.prometheus.loadbalancer.server.port: "9090"
    homepage.group: Infrastructure
    homepage.name: Prometheus
    homepage.icon: prometheus.png
    homepage.href: https://prometheus.${var.domain}
    homepage.description: Prometheus is an open-source monitoring system with a dimensional data model, flexible query language, efficient time series database, and modern alerting approach.
    homepage.widget.type: prometheus
    homepage.widget.url: http://prometheus:9090
    kuma.prometheus.http.name: prometheus.${var.ts-hostname}.${var.domain}
    kuma.prometheus.http.url: https://prometheus.${var.domain}
    kuma.prometheus.http.interval: "60"
    prometheus.io/scrape: "true"
    prometheus.io/port: "9090"
    prometheus.io/path: /metrics
  healthCheck:
    exec:
      command: [sh, -c, "wget --no-verbose --tries=1 --spider http://127.0.0.1:9090/-/healthy || exit 1"]
    initialDelaySeconds: 40
    periodSeconds: 30
    timeoutSeconds: 10
    failureThreshold: 3
  restartPolicy: always
